<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pose.dao.MovementDao">
    <insert id="addMovement" parameterType="movement">
        insert into
        movement(name, description, content)
        values
        (#{name}, #{description}, #{content})
    </insert>

    <delete id="deleteMovementByName">
        delete from
        movement
        where name = #{name}
    </delete>

    <select id="queryMovement" resultType="movement">
        select * from movement where name = #{name}
    </select>

    <update id="updateMovement" parameterType="movement">
        update movement
        <set>
            <if test="description != null">
                description = #{description}
            </if>
        </set>
        where name = #{name}
    </update>

</mapper>